# {{ singleTeam.mlb_org }}
## Venue: {{ singleTeam.venue_name }}
## Division: {{ singleTeam.division_full }}
## First Year of Play: {{ singleTeam.first_year_of_play }}
## Last Year of Play: {{ singleTeam.last_year_of_play }}
## Timezone: {{ singleTeam.time_zone_alt }}
## Home Opener
### {{ singleTeam.home_opener }} at {{ singleTeam.home_opener_time }}
## Address
### {{ singleTeam.address_line1 }}
### State: {{ singleTeam.state }}
### Country: {{ singleTeam.address_country }}
### Postal Code: {{ singleTeam.address_zip }}
### Phone Number: {{ singleTeam.phone_number }}
## Roster
### Bullpen
{%- for player in singleRoster if player.primary_position == "P" %}
#### {{ player.name_first_last }}
##### Primary Position: {{ player.primary_position }}
##### Birdate: {{ player.birth_date }}
##### Height: {{ player.height_feet }}' {{ player.height_inches }}"
##### Weight: {{ player.weight }}
##### Throws: {{ player.throws }}
##### Bats: {{ player.bats }}
##### Jersey Number: {{ player.jersey_number }}
{%- endfor %}
### Catchers
{%- for player in singleRoster if player.primary_position == "C" %}
#### {{ player.name_first_last }}
##### Primary Position: {{ player.primary_position }}
##### Birdate: {{ player.birth_date }}
##### Height: {{ player.height_feet }}' {{ player.height_inches }}"
##### Weight: {{ player.weight }}
##### Throws: {{ player.throws }}
##### Bats: {{ player.bats }}
##### Jersey Number: {{ player.jersey_number }}
{%- endfor %}
### Outfielders
{%- for player in singleRoster if player.primary_position == "OF" %}
#### {{ player.name_first_last }}
##### Primary Position: {{ player.primary_position }}
##### Birdate: {{ player.birth_date }}
##### Height: {{ player.height_feet }}' {{ player.height_inches }}"
##### Weight: {{ player.weight }}
##### Throws: {{ player.throws }}
##### Bats: {{ player.bats }}
##### Jersey Number: {{ player.jersey_number }}
{%- endfor %}
### Infielders
{%- for player in singleRoster if player.position_desig == "INFIELDER" %}
#### {{ player.name_first_last }}
##### Primary Position: {{ player.primary_position }}
##### Birdate: {{ player.birth_date }}
##### Height: {{ player.height_feet }}' {{ player.height_inches }}"
##### Weight: {{ player.weight }}
##### Throws: {{ player.throws }}
##### Bats: {{ player.bats }}
##### Jersey Number: {{ player.jersey_number }}
{%- endfor %}