# {{ singleTeam.mlb_org }}
## Venue: {{ singleTeam.venue_name }}
## Division: {{ singleTeam.division_full }}
## First Year of Play: {{ singleTeam.first_year_of_play }}
## Last Year of Play: {{ singleTeam.last_year_of_play }}
## Timezone: {{ singleTeam.time_zone_alt }}
## Home Opener
### {{ singleTeam.home_opener }} at {{ singleTeam.home_opener_time }}
## Address
### {{ singleTeam.address_line1 }}
### State: {{ singleTeam.state }}
### Country: {{ singleTeam.address_country }}
### Postal Code: {{ singleTeam.address_zip }}
### Phone Number: {{ singleTeam.phone_number }}
## Roster
### Bullpen
{%- for player in singleRoster if player.primary_position == "P" %}
#### {{ player.name_first_last }}
##### Primary Position: {{ player.primary_position }}
##### Birdate: {{ player.birth_date }}
##### Height: {{ player.height_feet }}' {{ player.height_inches }}"
##### Weight: {{ player.weight }}
##### Throws: {{ player.throws }}
##### Bats: {{ player.bats }}
##### Jersey Number: {{ player.jersey_number }}
##### Statistics
{%-     if playerStats.gidp %}
###### GIDP: {{ playerStats.gidp }}
{%-     endif %}
{%-     if playerStats.h9 %}
###### H9: {{ playerStats.h9 }}
{%-     endif %}
{%-     if playerStats.sac %}
###### SAC: {{ playerStats.sac }}
{%-     endif %}
{%-     if playerStats.np %}
###### NP: {{ playerStats.np }}
{%-     endif %}
{%-     if playerStats.tr %}
###### TR: {{ playerStats.tr }}
{%-     endif %}
{%-     if playerStats.gf %}
###### GF: {{ playerStats.gf }}
{%-     endif %}
{%-     if playerStats.bqs %}
###### BQS: {{ playerStats.bqs }}
{%-     endif %}
{%-     if playerStats.hgnd %}
###### HGND: {{ playerStats.hgnd }}
{%-     endif %}
{%-     if playerStats.sho %}
###### SHO: {{ playerStats.sho }}
{%-     endif %}
{%-     if playerStats.bq %}
###### BQ: {{ playerStats.bq }}
{%-     endif %}
{%-     if playerStats.gidp_opp %}
###### GIDP OPP: {{ playerStats.gidp_opp }}
{%-     endif %}
{%-     if playerStats.bk %}
###### BK: {{ playerStats.bk }}
{%-     endif %}
{%-     if playerStats.kbb %}
###### KBB: {{ playerStats.kbb }}
{%-     endif %}
{%-     if playerStats.hr9 %}
###### HR9: {{ playerStats.hr9 }}
{%-     endif %}
{%-     if playerStats.sv %}
###### SV: {{ playerStats.sv }}
{%-     endif %}
{%-     if playerStats.slg %}
###### SLG: {{ playerStats.slg }}
{%-     endif %}
{%-     if playerStats.bb %}
###### BB: {{ playerStats.bb }}
{%-     endif %}
{%-     if playerStats.whip %}
###### WHIP: {{ playerStats.whip }}
{%-     endif %}
{%-     if playerStats.avg %}
###### AVG: {{ playerStats.avg }}
{%-     endif %}
{%-     if playerStats.ops %}
###### OPS: {{ playerStats.ops }}
{%-     endif %}
{%-     if playerStats.db %}
###### DB: {{ playerStats.db }}
{%-     endif %}
{%-     if playerStats.hfly %}
###### HFLY: {{ playerStats.hfly }}
{%-     endif %}
{%-     if playerStats.so %}
###### SO: {{ playerStats.so }}
{%-     endif %}
{%-     if playerStats.tbf %}
###### TBF: {{ playerStats.tbf }}
{%-     endif %}
{%-     if playerStats.bb9 %}
###### BB9: {{ playerStats.bb9 }}
{%-     endif %}
{%-     if playerStats.wp %}
###### WP: {{ playerStats.wp }}
{%-     endif %}
{%-     if playerStats.sf %}
###### SF: {{ playerStats.sf }}
{%-     endif %}
{%-     if playerStats.hpop %}
###### HPOP: {{ playerStats.hpop }}
{%-     endif %}
{%-     if playerStats.hb %}
###### HB: {{ playerStats.hb }}
{%-     endif %}
{%-     if playerStats.cs %}
###### CS: {{ playerStats.cs }}
{%-     endif %}
{%-     if playerStats.pgs %}
###### PGS: {{ playerStats.pgs }}
{%-     endif %}
{%-     if playerStats.sb %}
###### SB: {{ playerStats.sb }}
{%-     endif %}
{%-     if playerStats.go_ao %}
###### GO AO: {{ playerStats.go_ao }}
{%-     endif %}
{%-     if playerStats.ppa %}
###### PPA: {{ playerStats.ppa }}
{%-     endif %}
{%-     if playerStats.cg %}
###### CG: {{ playerStats.cg }}
{%-     endif %}
{%-     if playerStats.gs %}
###### GS: {{ playerStats.gs }}
{%-     endif %}
{%-     if playerStats.ibb %}
###### IBB: {{ playerStats.ibb }}
{%-     endif %}
{%-     if playerStats.pk %}
###### PK: {{ playerStats.pk }}
{%-     endif %}
{%-     if playerStats.go %}
###### GO: {{ playerStats.go }}
{%-     endif %}
{%-     if playerStats.hr %}
###### HR: {{ playerStats.hr }}
{%-     endif %}
{%-     if playerStats.irs %}
###### IRS: {{ playerStats.irs }}
{%-     endif %}
{%-     if playerStats.wpct %}
###### WPCT: {{ playerStats.wpct }}
{%-     endif %}
{%-     if playerStats.era %}
###### ERA: {{ playerStats.era }}
{%-     endif %}
{%-     if playerStats.babip %}
###### BAB IP: {{ playerStats.babip }}
{%-     endif %}
{%-     if playerStats.rs9 %}
###### RS9: {{ playerStats.rs9 }}
{%-     endif %}
{%-     if playerStats.qs %}
###### QS: {{ playerStats.qs }}
{%-     endif %}
{%-     if playerStats.g %}
###### G: {{ playerStats.g }}
{%-     endif %}
{%-     if playerStats.ir %}
###### IR: {{ playerStats.ir }}
{%-     endif %}
{%-     if playerStats.hld %}
###### HLD: {{ playerStats.hld }}
{%-     endif %}
{%-     if playerStats.k9 %}
###### K9: {{ playerStats.k9 }}
{%-     endif %}
{%-     if playerStats.l %}
###### L: {{ playerStats.l }}
{%-     endif %}
{%-     if playerStats.svo %}
###### SVO: {{ playerStats.svo }}
{%-     endif %}
{%-     if playerStats.h %}
###### H: {{ playerStats.h }}
{%-     endif %}
{%-     if playerStats.ip %}
###### IP: {{ playerStats.ip }}
{%-     endif %}
{%-     if playerStats.obp %}
###### OBP: {{ playerStats.obp }}
{%-     endif %}
{%-     if playerStats.w %}
###### W: {{ playerStats.w }}
{%-     endif %}
{%-     if playerStats.hldr %}
###### HLDR: {{ playerStats.hldr }}
{%-     endif %}
{%-     if playerStats.ao %}
###### AO: {{ playerStats.ao }}
{%-     endif %}
{%-     if playerStats.s %}
###### S: {{ playerStats.s }}
{%-     endif %}
{%-     if playerStats.r %}
###### R: {{ playerStats.r }}
{%-     endif %}
{%-     if playerStats.spct %}
###### SPCT: {{ playerStats.spct }}
{%-     endif %}
{%-     if playerStats.pip %}
###### PIP: {{ playerStats.pip }}
{%-     endif %}
{%-     if playerStats.ab %}
###### AB: {{ playerStats.ab }}
{%-     endif %}
{%-     if playerStats.er %}
###### ER: {{ playerStats.er }}
{%-     endif %}
{%- endfor %}
### Catchers
{%- for player in singleRoster if player.primary_position == "C" %}
#### {{ player.name_first_last }}
##### Primary Position: {{ player.primary_position }}
##### Birdate: {{ player.birth_date }}
##### Height: {{ player.height_feet }}' {{ player.height_inches }}"
##### Weight: {{ player.weight }}
##### Throws: {{ player.throws }}
##### Bats: {{ player.bats }}
##### Jersey Number: {{ player.jersey_number }}
##### Statistics
{%-     if playerStats.gidp %}
###### GIDP: {{ playerStats.gidp }}
{%-     endif %}
{%-     if playerStats.h9 %}
###### H9: {{ playerStats.h9 }}
{%-     endif %}
{%-     if playerStats.sac %}
###### SAC: {{ playerStats.sac }}
{%-     endif %}
{%-     if playerStats.np %}
###### NP: {{ playerStats.np }}
{%-     endif %}
{%-     if playerStats.tr %}
###### TR: {{ playerStats.tr }}
{%-     endif %}
{%-     if playerStats.gf %}
###### GF: {{ playerStats.gf }}
{%-     endif %}
{%-     if playerStats.bqs %}
###### BQS: {{ playerStats.bqs }}
{%-     endif %}
{%-     if playerStats.hgnd %}
###### HGND: {{ playerStats.hgnd }}
{%-     endif %}
{%-     if playerStats.sho %}
###### SHO: {{ playerStats.sho }}
{%-     endif %}
{%-     if playerStats.bq %}
###### BQ: {{ playerStats.bq }}
{%-     endif %}
{%-     if playerStats.gidp_opp %}
###### GIDP OPP: {{ playerStats.gidp_opp }}
{%-     endif %}
{%-     if playerStats.bk %}
###### BK: {{ playerStats.bk }}
{%-     endif %}
{%-     if playerStats.kbb %}
###### KBB: {{ playerStats.kbb }}
{%-     endif %}
{%-     if playerStats.hr9 %}
###### HR9: {{ playerStats.hr9 }}
{%-     endif %}
{%-     if playerStats.sv %}
###### SV: {{ playerStats.sv }}
{%-     endif %}
{%-     if playerStats.slg %}
###### SLG: {{ playerStats.slg }}
{%-     endif %}
{%-     if playerStats.bb %}
###### BB: {{ playerStats.bb }}
{%-     endif %}
{%-     if playerStats.whip %}
###### WHIP: {{ playerStats.whip }}
{%-     endif %}
{%-     if playerStats.avg %}
###### AVG: {{ playerStats.avg }}
{%-     endif %}
{%-     if playerStats.ops %}
###### OPS: {{ playerStats.ops }}
{%-     endif %}
{%-     if playerStats.db %}
###### DB: {{ playerStats.db }}
{%-     endif %}
{%-     if playerStats.hfly %}
###### HFLY: {{ playerStats.hfly }}
{%-     endif %}
{%-     if playerStats.so %}
###### SO: {{ playerStats.so }}
{%-     endif %}
{%-     if playerStats.tbf %}
###### TBF: {{ playerStats.tbf }}
{%-     endif %}
{%-     if playerStats.bb9 %}
###### BB9: {{ playerStats.bb9 }}
{%-     endif %}
{%-     if playerStats.wp %}
###### WP: {{ playerStats.wp }}
{%-     endif %}
{%-     if playerStats.sf %}
###### SF: {{ playerStats.sf }}
{%-     endif %}
{%-     if playerStats.hpop %}
###### HPOP: {{ playerStats.hpop }}
{%-     endif %}
{%-     if playerStats.hb %}
###### HB: {{ playerStats.hb }}
{%-     endif %}
{%-     if playerStats.cs %}
###### CS: {{ playerStats.cs }}
{%-     endif %}
{%-     if playerStats.pgs %}
###### PGS: {{ playerStats.pgs }}
{%-     endif %}
{%-     if playerStats.sb %}
###### SB: {{ playerStats.sb }}
{%-     endif %}
{%-     if playerStats.go_ao %}
###### GO AO: {{ playerStats.go_ao }}
{%-     endif %}
{%-     if playerStats.ppa %}
###### PPA: {{ playerStats.ppa }}
{%-     endif %}
{%-     if playerStats.cg %}
###### CG: {{ playerStats.cg }}
{%-     endif %}
{%-     if playerStats.gs %}
###### GS: {{ playerStats.gs }}
{%-     endif %}
{%-     if playerStats.ibb %}
###### IBB: {{ playerStats.ibb }}
{%-     endif %}
{%-     if playerStats.pk %}
###### PK: {{ playerStats.pk }}
{%-     endif %}
{%-     if playerStats.go %}
###### GO: {{ playerStats.go }}
{%-     endif %}
{%-     if playerStats.hr %}
###### HR: {{ playerStats.hr }}
{%-     endif %}
{%-     if playerStats.irs %}
###### IRS: {{ playerStats.irs }}
{%-     endif %}
{%-     if playerStats.wpct %}
###### WPCT: {{ playerStats.wpct }}
{%-     endif %}
{%-     if playerStats.era %}
###### ERA: {{ playerStats.era }}
{%-     endif %}
{%-     if playerStats.babip %}
###### BAB IP: {{ playerStats.babip }}
{%-     endif %}
{%-     if playerStats.rs9 %}
###### RS9: {{ playerStats.rs9 }}
{%-     endif %}
{%-     if playerStats.qs %}
###### QS: {{ playerStats.qs }}
{%-     endif %}
{%-     if playerStats.g %}
###### G: {{ playerStats.g }}
{%-     endif %}
{%-     if playerStats.ir %}
###### IR: {{ playerStats.ir }}
{%-     endif %}
{%-     if playerStats.hld %}
###### HLD: {{ playerStats.hld }}
{%-     endif %}
{%-     if playerStats.k9 %}
###### K9: {{ playerStats.k9 }}
{%-     endif %}
{%-     if playerStats.l %}
###### L: {{ playerStats.l }}
{%-     endif %}
{%-     if playerStats.svo %}
###### SVO: {{ playerStats.svo }}
{%-     endif %}
{%-     if playerStats.h %}
###### H: {{ playerStats.h }}
{%-     endif %}
{%-     if playerStats.ip %}
###### IP: {{ playerStats.ip }}
{%-     endif %}
{%-     if playerStats.obp %}
###### OBP: {{ playerStats.obp }}
{%-     endif %}
{%-     if playerStats.w %}
###### W: {{ playerStats.w }}
{%-     endif %}
{%-     if playerStats.hldr %}
###### HLDR: {{ playerStats.hldr }}
{%-     endif %}
{%-     if playerStats.ao %}
###### AO: {{ playerStats.ao }}
{%-     endif %}
{%-     if playerStats.s %}
###### S: {{ playerStats.s }}
{%-     endif %}
{%-     if playerStats.r %}
###### R: {{ playerStats.r }}
{%-     endif %}
{%-     if playerStats.spct %}
###### SPCT: {{ playerStats.spct }}
{%-     endif %}
{%-     if playerStats.pip %}
###### PIP: {{ playerStats.pip }}
{%-     endif %}
{%-     if playerStats.ab %}
###### AB: {{ playerStats.ab }}
{%-     endif %}
{%-     if playerStats.er %}
###### ER: {{ playerStats.er }}
{%-     endif %}
{%- endfor %}
### Outfielders
{%- for player in singleRoster if player.primary_position == "OF" %}
#### {{ player.name_first_last }}
##### Primary Position: {{ player.primary_position }}
##### Birdate: {{ player.birth_date }}
##### Height: {{ player.height_feet }}' {{ player.height_inches }}"
##### Weight: {{ player.weight }}
##### Throws: {{ player.throws }}
##### Bats: {{ player.bats }}
##### Jersey Number: {{ player.jersey_number }}
##### Statistics
{%-     if playerStats.gidp %}
###### GIDP: {{ playerStats.gidp }}
{%-     endif %}
{%-     if playerStats.h9 %}
###### H9: {{ playerStats.h9 }}
{%-     endif %}
{%-     if playerStats.sac %}
###### SAC: {{ playerStats.sac }}
{%-     endif %}
{%-     if playerStats.np %}
###### NP: {{ playerStats.np }}
{%-     endif %}
{%-     if playerStats.tr %}
###### TR: {{ playerStats.tr }}
{%-     endif %}
{%-     if playerStats.gf %}
###### GF: {{ playerStats.gf }}
{%-     endif %}
{%-     if playerStats.bqs %}
###### BQS: {{ playerStats.bqs }}
{%-     endif %}
{%-     if playerStats.hgnd %}
###### HGND: {{ playerStats.hgnd }}
{%-     endif %}
{%-     if playerStats.sho %}
###### SHO: {{ playerStats.sho }}
{%-     endif %}
{%-     if playerStats.bq %}
###### BQ: {{ playerStats.bq }}
{%-     endif %}
{%-     if playerStats.gidp_opp %}
###### GIDP OPP: {{ playerStats.gidp_opp }}
{%-     endif %}
{%-     if playerStats.bk %}
###### BK: {{ playerStats.bk }}
{%-     endif %}
{%-     if playerStats.kbb %}
###### KBB: {{ playerStats.kbb }}
{%-     endif %}
{%-     if playerStats.hr9 %}
###### HR9: {{ playerStats.hr9 }}
{%-     endif %}
{%-     if playerStats.sv %}
###### SV: {{ playerStats.sv }}
{%-     endif %}
{%-     if playerStats.slg %}
###### SLG: {{ playerStats.slg }}
{%-     endif %}
{%-     if playerStats.bb %}
###### BB: {{ playerStats.bb }}
{%-     endif %}
{%-     if playerStats.whip %}
###### WHIP: {{ playerStats.whip }}
{%-     endif %}
{%-     if playerStats.avg %}
###### AVG: {{ playerStats.avg }}
{%-     endif %}
{%-     if playerStats.ops %}
###### OPS: {{ playerStats.ops }}
{%-     endif %}
{%-     if playerStats.db %}
###### DB: {{ playerStats.db }}
{%-     endif %}
{%-     if playerStats.hfly %}
###### HFLY: {{ playerStats.hfly }}
{%-     endif %}
{%-     if playerStats.so %}
###### SO: {{ playerStats.so }}
{%-     endif %}
{%-     if playerStats.tbf %}
###### TBF: {{ playerStats.tbf }}
{%-     endif %}
{%-     if playerStats.bb9 %}
###### BB9: {{ playerStats.bb9 }}
{%-     endif %}
{%-     if playerStats.wp %}
###### WP: {{ playerStats.wp }}
{%-     endif %}
{%-     if playerStats.sf %}
###### SF: {{ playerStats.sf }}
{%-     endif %}
{%-     if playerStats.hpop %}
###### HPOP: {{ playerStats.hpop }}
{%-     endif %}
{%-     if playerStats.hb %}
###### HB: {{ playerStats.hb }}
{%-     endif %}
{%-     if playerStats.cs %}
###### CS: {{ playerStats.cs }}
{%-     endif %}
{%-     if playerStats.pgs %}
###### PGS: {{ playerStats.pgs }}
{%-     endif %}
{%-     if playerStats.sb %}
###### SB: {{ playerStats.sb }}
{%-     endif %}
{%-     if playerStats.go_ao %}
###### GO AO: {{ playerStats.go_ao }}
{%-     endif %}
{%-     if playerStats.ppa %}
###### PPA: {{ playerStats.ppa }}
{%-     endif %}
{%-     if playerStats.cg %}
###### CG: {{ playerStats.cg }}
{%-     endif %}
{%-     if playerStats.gs %}
###### GS: {{ playerStats.gs }}
{%-     endif %}
{%-     if playerStats.ibb %}
###### IBB: {{ playerStats.ibb }}
{%-     endif %}
{%-     if playerStats.pk %}
###### PK: {{ playerStats.pk }}
{%-     endif %}
{%-     if playerStats.go %}
###### GO: {{ playerStats.go }}
{%-     endif %}
{%-     if playerStats.hr %}
###### HR: {{ playerStats.hr }}
{%-     endif %}
{%-     if playerStats.irs %}
###### IRS: {{ playerStats.irs }}
{%-     endif %}
{%-     if playerStats.wpct %}
###### WPCT: {{ playerStats.wpct }}
{%-     endif %}
{%-     if playerStats.era %}
###### ERA: {{ playerStats.era }}
{%-     endif %}
{%-     if playerStats.babip %}
###### BAB IP: {{ playerStats.babip }}
{%-     endif %}
{%-     if playerStats.rs9 %}
###### RS9: {{ playerStats.rs9 }}
{%-     endif %}
{%-     if playerStats.qs %}
###### QS: {{ playerStats.qs }}
{%-     endif %}
{%-     if playerStats.g %}
###### G: {{ playerStats.g }}
{%-     endif %}
{%-     if playerStats.ir %}
###### IR: {{ playerStats.ir }}
{%-     endif %}
{%-     if playerStats.hld %}
###### HLD: {{ playerStats.hld }}
{%-     endif %}
{%-     if playerStats.k9 %}
###### K9: {{ playerStats.k9 }}
{%-     endif %}
{%-     if playerStats.l %}
###### L: {{ playerStats.l }}
{%-     endif %}
{%-     if playerStats.svo %}
###### SVO: {{ playerStats.svo }}
{%-     endif %}
{%-     if playerStats.h %}
###### H: {{ playerStats.h }}
{%-     endif %}
{%-     if playerStats.ip %}
###### IP: {{ playerStats.ip }}
{%-     endif %}
{%-     if playerStats.obp %}
###### OBP: {{ playerStats.obp }}
{%-     endif %}
{%-     if playerStats.w %}
###### W: {{ playerStats.w }}
{%-     endif %}
{%-     if playerStats.hldr %}
###### HLDR: {{ playerStats.hldr }}
{%-     endif %}
{%-     if playerStats.ao %}
###### AO: {{ playerStats.ao }}
{%-     endif %}
{%-     if playerStats.s %}
###### S: {{ playerStats.s }}
{%-     endif %}
{%-     if playerStats.r %}
###### R: {{ playerStats.r }}
{%-     endif %}
{%-     if playerStats.spct %}
###### SPCT: {{ playerStats.spct }}
{%-     endif %}
{%-     if playerStats.pip %}
###### PIP: {{ playerStats.pip }}
{%-     endif %}
{%-     if playerStats.ab %}
###### AB: {{ playerStats.ab }}
{%-     endif %}
{%-     if playerStats.er %}
###### ER: {{ playerStats.er }}
{%-     endif %}
{%- endfor %}
### Infielders
{%- for player in singleRoster if player.position_desig == "INFIELDER" %}
#### {{ player.name_first_last }}
##### Primary Position: {{ player.primary_position }}
##### Birdate: {{ player.birth_date }}
##### Height: {{ player.height_feet }}' {{ player.height_inches }}"
##### Weight: {{ player.weight }}
##### Throws: {{ player.throws }}
##### Bats: {{ player.bats }}
##### Jersey Number: {{ player.jersey_number }}
##### Statistics
{%-     if playerStats.gidp %}
###### GIDP: {{ playerStats.gidp }}
{%-     endif %}
{%-     if playerStats.h9 %}
###### H9: {{ playerStats.h9 }}
{%-     endif %}
{%-     if playerStats.sac %}
###### SAC: {{ playerStats.sac }}
{%-     endif %}
{%-     if playerStats.np %}
###### NP: {{ playerStats.np }}
{%-     endif %}
{%-     if playerStats.tr %}
###### TR: {{ playerStats.tr }}
{%-     endif %}
{%-     if playerStats.gf %}
###### GF: {{ playerStats.gf }}
{%-     endif %}
{%-     if playerStats.bqs %}
###### BQS: {{ playerStats.bqs }}
{%-     endif %}
{%-     if playerStats.hgnd %}
###### HGND: {{ playerStats.hgnd }}
{%-     endif %}
{%-     if playerStats.sho %}
###### SHO: {{ playerStats.sho }}
{%-     endif %}
{%-     if playerStats.bq %}
###### BQ: {{ playerStats.bq }}
{%-     endif %}
{%-     if playerStats.gidp_opp %}
###### GIDP OPP: {{ playerStats.gidp_opp }}
{%-     endif %}
{%-     if playerStats.bk %}
###### BK: {{ playerStats.bk }}
{%-     endif %}
{%-     if playerStats.kbb %}
###### KBB: {{ playerStats.kbb }}
{%-     endif %}
{%-     if playerStats.hr9 %}
###### HR9: {{ playerStats.hr9 }}
{%-     endif %}
{%-     if playerStats.sv %}
###### SV: {{ playerStats.sv }}
{%-     endif %}
{%-     if playerStats.slg %}
###### SLG: {{ playerStats.slg }}
{%-     endif %}
{%-     if playerStats.bb %}
###### BB: {{ playerStats.bb }}
{%-     endif %}
{%-     if playerStats.whip %}
###### WHIP: {{ playerStats.whip }}
{%-     endif %}
{%-     if playerStats.avg %}
###### AVG: {{ playerStats.avg }}
{%-     endif %}
{%-     if playerStats.ops %}
###### OPS: {{ playerStats.ops }}
{%-     endif %}
{%-     if playerStats.db %}
###### DB: {{ playerStats.db }}
{%-     endif %}
{%-     if playerStats.hfly %}
###### HFLY: {{ playerStats.hfly }}
{%-     endif %}
{%-     if playerStats.so %}
###### SO: {{ playerStats.so }}
{%-     endif %}
{%-     if playerStats.tbf %}
###### TBF: {{ playerStats.tbf }}
{%-     endif %}
{%-     if playerStats.bb9 %}
###### BB9: {{ playerStats.bb9 }}
{%-     endif %}
{%-     if playerStats.wp %}
###### WP: {{ playerStats.wp }}
{%-     endif %}
{%-     if playerStats.sf %}
###### SF: {{ playerStats.sf }}
{%-     endif %}
{%-     if playerStats.hpop %}
###### HPOP: {{ playerStats.hpop }}
{%-     endif %}
{%-     if playerStats.hb %}
###### HB: {{ playerStats.hb }}
{%-     endif %}
{%-     if playerStats.cs %}
###### CS: {{ playerStats.cs }}
{%-     endif %}
{%-     if playerStats.pgs %}
###### PGS: {{ playerStats.pgs }}
{%-     endif %}
{%-     if playerStats.sb %}
###### SB: {{ playerStats.sb }}
{%-     endif %}
{%-     if playerStats.go_ao %}
###### GO AO: {{ playerStats.go_ao }}
{%-     endif %}
{%-     if playerStats.ppa %}
###### PPA: {{ playerStats.ppa }}
{%-     endif %}
{%-     if playerStats.cg %}
###### CG: {{ playerStats.cg }}
{%-     endif %}
{%-     if playerStats.gs %}
###### GS: {{ playerStats.gs }}
{%-     endif %}
{%-     if playerStats.ibb %}
###### IBB: {{ playerStats.ibb }}
{%-     endif %}
{%-     if playerStats.pk %}
###### PK: {{ playerStats.pk }}
{%-     endif %}
{%-     if playerStats.go %}
###### GO: {{ playerStats.go }}
{%-     endif %}
{%-     if playerStats.hr %}
###### HR: {{ playerStats.hr }}
{%-     endif %}
{%-     if playerStats.irs %}
###### IRS: {{ playerStats.irs }}
{%-     endif %}
{%-     if playerStats.wpct %}
###### WPCT: {{ playerStats.wpct }}
{%-     endif %}
{%-     if playerStats.era %}
###### ERA: {{ playerStats.era }}
{%-     endif %}
{%-     if playerStats.babip %}
###### BAB IP: {{ playerStats.babip }}
{%-     endif %}
{%-     if playerStats.rs9 %}
###### RS9: {{ playerStats.rs9 }}
{%-     endif %}
{%-     if playerStats.qs %}
###### QS: {{ playerStats.qs }}
{%-     endif %}
{%-     if playerStats.g %}
###### G: {{ playerStats.g }}
{%-     endif %}
{%-     if playerStats.ir %}
###### IR: {{ playerStats.ir }}
{%-     endif %}
{%-     if playerStats.hld %}
###### HLD: {{ playerStats.hld }}
{%-     endif %}
{%-     if playerStats.k9 %}
###### K9: {{ playerStats.k9 }}
{%-     endif %}
{%-     if playerStats.l %}
###### L: {{ playerStats.l }}
{%-     endif %}
{%-     if playerStats.svo %}
###### SVO: {{ playerStats.svo }}
{%-     endif %}
{%-     if playerStats.h %}
###### H: {{ playerStats.h }}
{%-     endif %}
{%-     if playerStats.ip %}
###### IP: {{ playerStats.ip }}
{%-     endif %}
{%-     if playerStats.obp %}
###### OBP: {{ playerStats.obp }}
{%-     endif %}
{%-     if playerStats.w %}
###### W: {{ playerStats.w }}
{%-     endif %}
{%-     if playerStats.hldr %}
###### HLDR: {{ playerStats.hldr }}
{%-     endif %}
{%-     if playerStats.ao %}
###### AO: {{ playerStats.ao }}
{%-     endif %}
{%-     if playerStats.s %}
###### S: {{ playerStats.s }}
{%-     endif %}
{%-     if playerStats.r %}
###### R: {{ playerStats.r }}
{%-     endif %}
{%-     if playerStats.spct %}
###### SPCT: {{ playerStats.spct }}
{%-     endif %}
{%-     if playerStats.pip %}
###### PIP: {{ playerStats.pip }}
{%-     endif %}
{%-     if playerStats.ab %}
###### AB: {{ playerStats.ab }}
{%-     endif %}
{%-     if playerStats.er %}
###### ER: {{ playerStats.er }}
{%-     endif %}
{%- endfor %}