# {{ singleTeam.mlb_org }}
## Venue: {{ singleTeam.venue_name }}
## Division: {{ singleTeam.division_full }}
## First Year of Play: {{ singleTeam.first_year_of_play }}
## Last Year of Play: {{ singleTeam.last_year_of_play }}
## Timezone: {{ singleTeam.time_zone_alt }}
## Home Opener
### {{ singleTeam.home_opener }} at {{ singleTeam.home_opener_time }}
## Address
### {{ singleTeam.address_line1 }}
### State: {{ singleTeam.state }}
### Country: {{ singleTeam.address_country }}
### Postal Code: {{ singleTeam.address_zip }}
### Phone Number: {{ singleTeam.phone_number }}
# ID {{ singleTeam.team_id }}